:root {
  --color-primary: #224957;
  --color-secondary: #20DF7F;
  --color-background: #E5E5E5;
}


body {
  margin: 0;
font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
}

code {
  font-family: 'Lexend Deca', sans-serif;
}
